@keyframes scroll-left {
  0% {
    transform: translate(165%, 0%);
    -webkit-transform: -webkit-translate(165%, 0%);
  }
  100% {
    -webkit-transform: -webkit-translate(-150%, 0%);
    transform: translate(-150%, 0%);
  }
}

.banner {
  height: $banner-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid $black;
  background: $white;
  z-index: 200;

  &__marquee {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: translate(100%, 0%);
    animation: scroll-left 17s linear infinite;

    * {
      white-space: nowrap;
    }

    @include media-breakpoint-down('lg') {
      h1 {
        font-size: 33px;
      }
    }
  }
}
