.burger {
  height: 28px;
  width: 43px;

  &__line-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &--ex {
      justify-content: initial;
      margin-top: 10px;
    }
  }

  &__line {
    border-bottom: 2px solid $black;
    height: 2px;
  }
}

.ex-line {
  &--one {
    transform: rotate(45deg);
  }

  &--two {
    transform: rotate(-45deg);
    margin-top: -2px;
  }
}
