.btn {
  height: 35px;
  border: 1px solid $black;
  border-radius: 0;
  background: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up('lg') {
    &:hover {
      background: $black;
      color: $white;
    }
  }

  h3 {
    padding-bottom: 3px;
  }

  &__search {
    height: 66px;
    border-bottom: hidden;
    border-top: hidden;
    border-right: hidden;
    z-index: 500;
    background: $white;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }

  &__language {
    height: 100%;
    z-index: 500;
    background: $white;
    border-right: hidden;
    border-top: hidden;
    border-bottom: hidden;

    h3 {
      @include media-breakpoint-up('lg') {
        font-size: 45px;
      }
    }
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
