.btn {
  height: 35px;
  border: 1px solid $black;
  background: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $black;
    color: $white;
  }
}
