$offset: calc(#{$spacer * 2} + #{$banner-height});

.frontpage-object {
  &--current-exhibition {
    position: relative;
  }

  &__image-wrapper {
    img {
      width: 100%;
    }

    @include media-breakpoint-up('lg') {
      position: relative;
      height: 500px;
      img {
        height: 100%;
        object-fit: contain;
        width: auto;
      }
    }
  }
}
