$offset: calc(#{$spacer * 2} + #{$banner-height});

.frontpage-object {
  &--current-exhibition {
    position: relative;
  }

  &__image-wrapper {
    img {
      width: 100%;
    }

    @include media-breakpoint-up('lg') {
      img {
        width: 100%;
        @include media-breakpoint-up('lg') {
          height: 500px;
          width: auto;
        }
        object-fit: contain;
      }
    }
  }
}
