.frontpage-object {
  &__children {
    display: inline-block;
    h1 {
      margin-bottom: 0;
    }
  }

  &__img {
    object-fit: cover;
    max-height: 600px;
    width: 100%;
    @extend .fadeIn;
  }

  &__heading {
    text-decoration: underline;
  }

  &--news {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    text-align: center;

    &:not(:last-of-type) {
      margin-right: $spacer * 3;
    }
  }

  &--exhibition {
    text-align: left;
  }
}
