.input {
  input {
    height: 100%;
    font-size: 23px;
    border: none;
    outline: 0;
    width: 100%;
    border: 1px solid $black;

    &:active {
      border: 2px solid $black;
    }
    &:focus {
      border: 2px solid $black;
      outline: 0;
    }
  }

  @include media-breakpoint-up('lg') {
    width: 350px;
  }
}
