.mobile-header {
  height: 150px;
  padding: 0 $spacer;
  overflow: hidden;

  &--expanded {
    min-height: calc(100vh - #{$banner-height});
  }

  &__head {
    padding: $spacer * 3 0 $spacer * 3 0;
    height: 150px;
    align-items: center;
  }
}
