.mobile-header {
  height: 150px;
  padding: 0 $spacer;
  overflow: hidden;

  &--expanded {
    height: 100%;
    margin-bottom: $spacer * 3;
  }

  &__head {
    padding: $spacer * 3 0 $spacer * 3 0;
    height: 150px;
    align-items: center;
  }
}
