.navbar {
  position: fixed;
  right: 0;
  width: 300px;
  align-items: baseline;
  width: 300px;
  z-index: 100;
  background: $white;
  padding-bottom: 66px;
  overflow-x: auto;
  flex-wrap: nowrap;

  &__anchor {
    display: flex;
    align-items: center;
    &--active {
      span {
        height: 15px;
        width: 33px;
        background: $black;
        transform: rotate(-3deg);
      }
    }

    @include media-breakpoint-up('lg') {
      &:hover {
        span {
          height: 15px;
          width: 33px;
          background: $black;
          transform: rotate(3deg);
        }
      }
    }
  }
}
