.overview-box {
  min-width: 250px;
  text-align: center;
  border: 1px solid transparent;
  transition: background 0.2s;
  padding: 0 0 25px 0;

  &__featured-image {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

  @include media-breakpoint-up('lg') {
    &:hover {
      background: $gray;
      cursor: pointer;
    }
  }
}
