.page {
  min-height: 100vh;
  overflow: hidden;
  padding-left: 250px;
  margin-right: 300px;
  margin-bottom: 66px;

  @include media-breakpoint-down('lg') {
    padding-left: 150px;
    padding-right: 150px;
  }

  &__frontpage {
    padding-left: 0;
  }
}
