.slideshow {
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  height: 100%;
  position: relative;

  img {
    margin-right: $spacer;
    object-fit: contain;
    width: 100%;

    @include media-breakpoint-up('lg') {
      width: auto;
      height: 100%;
    }
  }

  &__clickzone {
    background: lightgray;
    height: 100%;
    top: 0;
    width: 50%;

    @include media-breakpoint-up('lg') {
      position: absolute;
      width: 25%;
    }

    span {
      font-size: 35px;
    }

    &--left {
      left: 0;

      &:hover {
        cursor: w-resize;
      }
    }

    &--right {
      @include media-breakpoint-up('lg') {
        right: -150px;
      }

      &:hover {
        cursor: e-resize;
      }
    }
  }
}
