.upcoming-exhibition {
  &__heading {
    text-decoration: underline;
  }

  &__content {
    img {
      width: 100%;
      @include media-breakpoint-up('lg') {
        height: 500px;
        width: auto;
      }
      object-fit: contain;
    }
  }
}
