@import './variables';

@font-face {
  src: url('./fonts/Jungka-Regular.otf');
  font-family: Jungka;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('./fonts/Jungka-RegularItalic.otf');
  font-family: Jungka;
  font-weight: 400;
  font-style: italic;
}

* {
  font-size: 100%;
}

body {
  * {
    font-family: Jungka !important;
    font-style: normal;
  }

  strong {
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400 !important;
  }

  h1 {
    font-size: 45px;
    line-height: 1;

    @include media-breakpoint-down('md') {
      font-size: 33px;
    }
  }
  h2 {
    font-size: 33px;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 15px;
  }
}

.parag {
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }

  &--1 {
    font-size: 23px;
    line-height: 1.3;

    @include media-breakpoint-up('lg') {
      font-size: 33px;
      line-height: 1.3;
    }
  }
  &--2 {
    font-size: 18px;
    line-height: 1.3;

    @include media-breakpoint-up('lg') {
      font-size: 23px;
      line-height: 1.3;
    }
  }
  &--3 {
    font-size: 18px;
    line-height: 1.3;
  }
}

a {
  line-height: 1.2;
}
