$black: #000;
$white: #fff;
$green: #a7fbb8;
$gray: #d1d3d4;
$pink: #ff999e;
$yellow: #fffd8c;
$purple: #ded9ff;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.5,
    ),
    2: (
      $spacer,
    ),
    3: $spacer * 2,
    4: (
      $spacer * 4,
    ),
    5: (
      $spacer * 7,
    ),
    6: (
      $spacer * 9,
    ),
  ),
  $spacers
);

$banner-height: 66px;

$mobile-header: 100px;
