@import "../../../styles/variables";

.bannerWrap {
  height: 66px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  background: $white;
  z-index: 200;
}

.marquee {
  position: absolute;
  width: 125%;
  height: 100%;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 17s linear infinite;

  @include media-breakpoint-down("lg") {
    h1 {
      font-size: 33px;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
