@import "./variables";
@import "./typo";

a {
  text-decoration: none !important;
  color: $black !important;

  &:hover {
    text-decoration: none !important;
    color: $black !important;
  }
}

.anchorActive {
  span {
    display: block;
  }
}
