@import "./variables";

a {
  text-decoration: none !important;
  color: $black !important;

  &:hover {
    text-decoration: none !important;
    color: $black !important;
  }
}

.anchorActive {
  span {
    display: block;
  }
}

.removeGenericButtonStyles {
  outline: 0;
  border: none;
  background: inherit;

  &:focus {
    outline: 0 !important;
    border: none;
  }
}

::selection {
  background: $black;
  color: $white;
}

.secondary-menuitem-active {
  text-decoration: underline;
}

@import "./typo";
