@import "./variables";

@font-face {
  src: url("./fonts/Jungka-Regular.otf");
  font-family: Jungka;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("./fonts/Jungka-RegularItalic.otf");
  font-family: Jungka;
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: Jungka !important;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400 !important;
}

.hdln {
  &--1 {
    font-size: 45px;
  }
  &--2 {
    font-size: 33px;
  }
  &--3 {
    font-size: 23px;
  }
  &--4 {
    font-size: 15px;
  }
}

.para {
  &--1 {
    font-size: 33px;
  }
  &--2 {
    font-size: 23px;
  }
}
