@import './config/variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './config/typo';

@import './components/image';
@import './components/page';
@import './components/banner';
@import './components/navbar';
@import './components/button';
@import './components/icon';
@import './components/secondary-navbar';
@import './components/overview-box';
@import './components/image-reel';
@import './components/page';
@import './components/rich-text';
@import './components/sidebar';
@import './components/frontpage-object';
@import './components/breadcrumbs';
@import './components/sneak-peak';
@import './utils/animations';
@import './components/exhibition';
@import './components/slideshow';
@import './components/footer';
@import './components/open';
@import './components/featured-image';
@import './components/mobile-header';
@import './components/burger';
@import './components/latest-events';
@import './components/upcoming-exhibition';
@import './components/latest-news';
@import './components/input';

@import './utils/glob-classes.scss';

body a {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: none;
    color: $black;
  }
}

hr {
  border: 1px solid #000;
  background: #000;
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
}
