// +++++

.anchorActive {
  span {
    display: block;
  }
}

.removeGenericButtonStyles {
  outline: 0;
  border: none;
  background: inherit;

  &:focus {
    outline: 0 !important;
    border: none;
  }
}

::selection {
  background: $black;
  color: $white;
}

.secondary-menuitem-active {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  &-green {
    background-color: $green;
  }

  &-white {
    background-color: $white;
  }

  &-gray {
    background-color: #dedcdc;
  }

  &-yellow {
    background-color: $yellow;
  }

  &-pink {
    background-color: $pink;
  }

  &-purple {
    background-color: $purple;
  }
}

.secondaryAnchorActive {
  text-decoration: underline !important;
}

// my-3 mr-6
.content {
  position: relative;
  margin-bottom: $spacer * 2;

  @include media-breakpoint-up('lg') {
    padding-right: $spacer * 9;
  }
}

.blur {
  filter: blur(5px);
}
