// +++++

.anchorActive {
  span {
    display: block;
  }
}

.removeGenericButtonStyles {
  outline: 0;
  border: none;
  background: inherit;

  &:focus {
    outline: 0 !important;
    border: none;
  }
}

::selection {
  background: $black;
  color: $white;
}

.secondary-menuitem-active {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  &--green {
    background-color: $green;
  }

  &--white {
    background-color: $white;
  }
}

.secondaryAnchorActive {
  text-decoration: underline !important;
}
