@import "../../styles//variables";

.bg {
  &--green {
    background-color: $green;
  }
}

.pageContainer {
  min-height: 100vh;
  overflow: hidden;
  margin-right: 300px;
  padding-left: 300px;
  padding-right: 300px;
  margin-bottom: 66px;
}
